*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}


.navbar img {
    width: 119px;
    margin-left: 15px;}

.nav1{
    height: 80px;
}    

    /*applying hover effect on each text on navbar*/


.nav-link:hover {
    color: #e53f27 !important;
    transition: 0.5s;
}

/*brands dropdown is divided into two columns*/
.brands ul {
    columns: 2;
}

/*applying border and background color to dropdown*/

.dropdown:hover .dropdown-menu {
    display: block;
    border-bottom: 5px solid black;
    background-color: #e53f27;
}
/*changing text color of dropdown items*/

.navbar .dropdown-item {
    color: white;
}
/*applying hover on dropdown texts*/

.navbar .dropdown-item:hover {
    background-color: #e53f27;
    color: black;
    transition: 0.5s;
}
/*parle agro image properties*/

.navbar img {
    width: 119px;
    margin-left: 15px;
}



   .image-fluid{
        width: 100%;
    }
    .custom-hight{
        height:95vh; 
          
    }
    .bgcolor{
        background-color: rgba(250,167,74,255);
    }
    .costom{
padding-left:14% !important;
padding-top:23% ;
line-height: 170%;
font-size: 110%;
 }
 .leaf{
    align-items: center;

 }
 .text{
    position: absolute;
    font-family: "EksellDisplayWeb-Small";
    text-align: center;

 }
 .text h1{
font-weight: bold;
font-size: 300%;
 }
 .coshight{
    height: 28vh;

  
 }
 .coshight p{
    font-size: small;
    font-weight: bold;
 }

 .tex{
align-items: center;
padding-top: 8%;
padding-left: 9%;

 }